[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
twisted = "*"
prometheus-client = "*"
attrs = "*"
scapy = "*"
cryptography = "*"
ptpython = "*"
netifaces = "*"
pyyaml = "*"
pyasn1 = "*"
pyasn1-modules = "*"
service-identity = "*"
treq = "*"

[requires]
python_version = "3.5"
